.main{
    border: 10px solid black;
    height: 300px;
    width: 600px;
}
.a{
    height:100px;
    width: 600px;
    background-color: #ed2939
}
.b{
    height:100px;
    width: 600px;
    background-color: #ffffff
}
.c{
    height:100px;
    width: 600px;
    background-color: #ed2939
}